<!--<div class="layout-wrapper" (click)="onWrapperClick()"-->
     <!--[ngClass]="{'layout-wrapper-static': layoutMode === 'static',-->
                <!--'layout-wrapper-active': mobileMenuActive,-->
                <!--'layout-menu-horizontal': layoutMode === 'horizontal',-->
                <!--'layout-rtl': isRTL}">-->

  <!--<app-menu [reset]="resetMenu"></app-menu>-->

  <intc-bnmt></intc-bnmt>
  <!--<div class="layout-main">-->
    <!--<div class="layout-content">-->
      <!--&lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->
